//- 
//- Navigation
//- Location: center left & center right
//- 
a.navigation.left(href='http://codepen.io/thesuitcase/pen/#{left}' target='_blank')
  img(src='http://thesuitcase.io/codepen-overlay/images/arrow-left.svg')

a.navigation.right(href='http://codepen.io/thesuitcase/pen/#{right}' target='_blank')
  img(src='http://thesuitcase.io/codepen-overlay/images/arrow-right.svg')

//- 
//- Social Media
//- Location: top right
a.twitter(href='https://twitter.com/TheSuitcaseIO')
  img(src='http://thesuitcase.io/codepen-overlay/images/twitter.svg' target='_blank')

//- 
//- Meta Icons
//- Location: bottom right
//- 
.meta-data
  .item.stopwatch
    .title #{time}
    img(src='http://thesuitcase.io/codepen-overlay/images/stopwatch.svg')

//- 
//- Suitcase Icon
//- Location: top left
//- 
a.icon(href='http://thesuitcase.io')
  img(src='http://thesuitcase.io/codepen-overlay/images/suitcase-icon.svg' target='_blank')