doctype html
html
  head
    link(href="./styles/main.css" rel="stylesheet" type="text/css")
  body
    img(id='icon' src='./images/suitcase-icon.svg')
    
    #content
      img(id='logo' src='./images/logo.svg')

      .socialmedia
        a(class='socialmedia-item' href='https://twitter.com/TheSuitcaseIO')
          img(src='./images/twitter.svg')
        a(class='socialmedia-item' href='http://codepen.io/thesuitcase/')
          img(src='./images/codepen.svg')
        a(class='socialmedia-item' href='https://github.com/thesuitcase')
          img(src='./images/github.svg')
    
      img(class='comming-soon' src='./images/commingsoon.svg')
    