doctype html
html(lang='en')
  head
    title = 'Danny van der Jagt'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='./css/main.css' rel='stylesheet' type='text/css')
  body
    #content
      #icon
        a(href='http://www.thesuitcase.io')
          img(src='images/icon.svg')
      #name
        img(src='images/name.svg')
      #description
        .line
        .text.main
          |We are creating beautiful apps, useful code libraries and codepens with style 
        .line
        .text.sub
          | Created by:
          br
          a(href='http://dannyvanderjagt.nl') Danny van der Jagt
        .line
      #links
        a(href='https://github.com/thesuitcase' target='_blank')
          img(src='images/github.svg')
        a(href='https://twitter.com/thesuitcaseio' target='_blank')
          img(src='images/twitter.svg')
        a(href='http://codepen.io/thesuitcase/' target='_blank')
          img(src='images/codepen.svg')      
    
    #background
    